.postDiv > img {
    width: 100%;
    height: auto;
}
.postDiv {
    margin: 10px;
    border: solid 20px #FFFFFF;
    height: auto;
    width: 47.5%;
    background-color: #FFFFFF;
}
.postDivRight {
    float: right;
}
.postDivLeft {
    float: left;
}
#content-div {
    float: left;
    padding: 0px;
    padding: 10px;
    height: auto;
}
#content-div::after {
    clear: both;
}