.form-div {
    background-color: #91FF87;
    margin-bottom: 300px;
    padding: 20px;
}
label {
    font-size: 18px;
}
#welcomeMessage {
    margin: 75px;
    width: 100%;
    text-align: center;
}
.formMessage {
    text-align: center;
}
.buttonBox {
    width: 100%;
}
button {
    height: 100%;
    background-color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}
button:hover {
    background-color: #e6e6e6;
}
