#mainDiv {
    margin-top: 50px;
}
#content-div {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    border: solid 5px #007BFF;
}
header {
    background-color: #85C0FF;
    width: 100%;
    border-bottom: solid 5px #007BFF;
}
header::after {
    clear: right;
}
header div {
    margin-right: 20px;
}
nav {
    float: right;
    content: '';
    display: table;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 10px;
    padding-right: 20px;
    position: relative;
    font-size: 20px;
}
nav a {
    text-transform: uppercase;
    padding-top: 25px;
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    text-decoration: none;
    color: #000000;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    /*background-image: linear-gradient(to right, #54E55E, #C3FFBC);*/
    background-image: linear-gradient(to right, #007BFF, #85C0FF);
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
#logoImage {
    margin-left: 50px;
    height: 75px;
}
body {
    background-image: url('/images/woodBackground.jpg');
}