#calcBox {
	background-color: white;
	width: 500px;
	margin-top: 100px;
}
#calcDisplay {
	background-color: black;
	text-align: center;
	font-size: 30pt;
	padding: 10px;
}
#calcText {
	color: white;
}
button {
	height: 75px;
}
.number {
	background-color: darkgray;
}
#clear, .singleNumOperation {
	background-color: lightgray;
}
.twoNumOperation, #equals {
	background-color: orange;
}